/**
 * oauth2.config
 * 
 * Configuration file for synthesis of OAuth 2.0 mappings
 */
 
// Directory that contains the Alloy models of OAuth and HTTP	
Config.DIR_MODEL = "models/alloy/oauth/"

// Path to the Alloy model that imports both OAuth 2.0 & HTTP models
Config.PATH_TEMPLATE = "models/alloy/oauth/oauth-to-http-template.als"

// Directory that will contain mapping files generated during the search by the synthesizer
Config.DIR_GENERATED = "models/alloy/generated/"

// Prefix for the generated mapping files
Config.PREFIX_GENERATED = "gen_mapping"

// Verbosity
// 0 = minimal; displays minimal info. about the synthesis task.
// 1 = medium; displays general statistics after the completion of the synthesis task. 
// 2 = verbose; displays each step of the search being performed by the synthesizer.
Config.VERBOSITY = 2
