/**
 * Configuration file
 */
Config.DIR_MODEL = "models/alloy/oauth/"
Config.DIR_GENERATED = "models/alloy/generated/"
Config.PREFIX_GENERATED = "gen_mapping"
Config.PATH_TEMPLATE = "models/alloy/oauth/oauth-to-http-template.als"
Config.MODE = "ALLOY"
// Verbosity
// 0 = minimal; displays minimal info. about the synthesis task.
// 1 = medium; displays general statistics after the completion of the synthesis task. 
// 2 = verbose; displays each step of the search being performed by the synthesizer.
Config.VERBOSITY = 2
